<!DOCTYPE html>
<html lang="pl-PL">
<style>
table, th, td {
  border:1px solid black;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Sudoku solver</title>
</head>
<body>
<h1>Wprowadź dane do Sudoku!</h1>
<table id="sudoku">
    <tbody>
        {% for value in board.fields %}
            {% if forloop.counter0|divisibleby:"9" %}
                <tr>
            {% endif %}
            <td>{{ value }}</td>
            {% if forloop.counter|divisibleby:"9" %}
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table><br><br>
</body>
</html>