<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Sudoku solver</title>
</head>
<body>
    <h1>Wprowadź dane do Sudoku!</h1>
    <form method="POST" action="/solver/new" id="form_sudoku_board">
        <table id="sudoku_board">
            <tbody>
            <tr>
                <td><label for="row1col1"><input type="text" id="row1col1" name="sudoku_field"></label></td>
                <td><label for="row1col2"><input type="text" id="row1col2" name="sudoku_field"></label></td>
                <td><label for="row1col3"><input type="text" id="row1col3" name="sudoku_field"></label></td>
                <td><label for="row1col4"><input type="text" id="row1col4" name="sudoku_field"></label></td>
                <td><label for="row1col5"><input type="text" id="row1col5" name="sudoku_field"></label></td>
                <td><label for="row1col6"><input type="text" id="row1col6" name="sudoku_field"></label></td>
                <td><label for="row1col7"><input type="text" id="row1col7" name="sudoku_field"></label></td>
                <td><label for="row1col8"><input type="text" id="row1col8" name="sudoku_field"></label></td>
                <td><label for="row1col9"><input type="text" id="row1col9" name="sudoku_field"></label></td>
            </tr>
            <tr>
                <td><label for="row2col1"><input type="text" id="row2col1" name="sudoku_field"></label></td>
                <td><label for="row2col2"><input type="text" id="row2col2" name="sudoku_field"></label></td>
                <td><label for="row2col3"><input type="text" id="row2col3" name="sudoku_field"></label></td>
                <td><label for="row2col4"><input type="text" id="row2col4" name="sudoku_field"></label></td>
                <td><label for="row2col5"><input type="text" id="row2col5" name="sudoku_field"></label></td>
                <td><label for="row2col6"><input type="text" id="row2col6" name="sudoku_field"></label></td>
                <td><label for="row2col7"><input type="text" id="row2col7" name="sudoku_field"></label></td>
                <td><label for="row2col8"><input type="text" id="row2col8" name="sudoku_field"></label></td>
                <td><label for="row2col9"><input type="text" id="row2col9" name="sudoku_field"></label></td>
            </tr>
            <tr>
                <td><label for="row3col1"><input type="text" id="row3col1" name="sudoku_field"></label></td>
                <td><label for="row3col2"><input type="text" id="row3col2" name="sudoku_field"></label></td>
                <td><label for="row3col3"><input type="text" id="row3col3" name="sudoku_field"></label></td>
                <td><label for="row3col4"><input type="text" id="row3col4" name="sudoku_field"></label></td>
                <td><label for="row3col5"><input type="text" id="row3col5" name="sudoku_field"></label></td>
                <td><label for="row3col6"><input type="text" id="row3col6" name="sudoku_field"></label></td>
                <td><label for="row3col7"><input type="text" id="row3col7" name="sudoku_field"></label></td>
                <td><label for="row3col8"><input type="text" id="row3col8" name="sudoku_field"></label></td>
                <td><label for="row3col9"><input type="text" id="row3col9" name="sudoku_field"></label></td>
            </tr>
            <tr>
                <td><label for="row4col1"><input type="text" id="row4col1" name="sudoku_field"></label></td>
                <td><label for="row4col2"><input type="text" id="row4col2" name="sudoku_field"></label></td>
                <td><label for="row4col3"><input type="text" id="row4col3" name="sudoku_field"></label></td>
                <td><label for="row4col4"><input type="text" id="row4col4" name="sudoku_field"></label></td>
                <td><label for="row4col5"><input type="text" id="row4col5" name="sudoku_field"></label></td>
                <td><label for="row4col6"><input type="text" id="row4col6" name="sudoku_field"></label></td>
                <td><label for="row4col7"><input type="text" id="row4col7" name="sudoku_field"></label></td>
                <td><label for="row4col8"><input type="text" id="row4col8" name="sudoku_field"></label></td>
                <td><label for="row4col9"><input type="text" id="row4col9" name="sudoku_field"></label></td>
            </tr>
            <tr>
                <td><label for="row5col1"><input type="text" id="row5col1" name="sudoku_field"></label></td>
                <td><label for="row5col2"><input type="text" id="row5col2" name="sudoku_field"></label></td>
                <td><label for="row5col3"><input type="text" id="row5col3" name="sudoku_field"></label></td>
                <td><label for="row5col4"><input type="text" id="row5col4" name="sudoku_field"></label></td>
                <td><label for="row5col5"><input type="text" id="row5col5" name="sudoku_field"></label></td>
                <td><label for="row5col6"><input type="text" id="row5col6" name="sudoku_field"></label></td>
                <td><label for="row5col7"><input type="text" id="row5col7" name="sudoku_field"></label></td>
                <td><label for="row5col8"><input type="text" id="row5col8" name="sudoku_field"></label></td>
                <td><label for="row5col9"><input type="text" id="row5col9" name="sudoku_field"></label></td>
            </tr>
            <tr>
                <td><label for="row6col1"><input type="text" id="row6col1" name="sudoku_field"></label></td>
                <td><label for="row6col2"><input type="text" id="row6col2" name="sudoku_field"></label></td>
                <td><label for="row6col3"><input type="text" id="row6col3" name="sudoku_field"></label></td>
                <td><label for="row6col4"><input type="text" id="row6col4" name="sudoku_field"></label></td>
                <td><label for="row6col5"><input type="text" id="row6col5" name="sudoku_field"></label></td>
                <td><label for="row6col6"><input type="text" id="row6col6" name="sudoku_field"></label></td>
                <td><label for="row6col7"><input type="text" id="row6col7" name="sudoku_field"></label></td>
                <td><label for="row6col8"><input type="text" id="row6col8" name="sudoku_field"></label></td>
                <td><label for="row6col9"><input type="text" id="row6col9" name="sudoku_field"></label></td>
            </tr>
            <tr>
                <td><label for="row7col1"><input type="text" id="row7col1" name="sudoku_field"></label></td>
                <td><label for="row7col2"><input type="text" id="row7col2" name="sudoku_field"></label></td>
                <td><label for="row7col3"><input type="text" id="row7col3" name="sudoku_field"></label></td>
                <td><label for="row7col4"><input type="text" id="row7col4" name="sudoku_field"></label></td>
                <td><label for="row7col5"><input type="text" id="row7col5" name="sudoku_field"></label></td>
                <td><label for="row7col6"><input type="text" id="row7col6" name="sudoku_field"></label></td>
                <td><label for="row7col7"><input type="text" id="row7col7" name="sudoku_field"></label></td>
                <td><label for="row7col8"><input type="text" id="row7col8" name="sudoku_field"></label></td>
                <td><label for="row7col9"><input type="text" id="row7col9" name="sudoku_field"></label></td>
            </tr>
            <tr>
                <td><label for="row8col1"><input type="text" id="row8col1" name="sudoku_field"></label></td>
                <td><label for="row8col2"><input type="text" id="row8col2" name="sudoku_field"></label></td>
                <td><label for="row8col3"><input type="text" id="row8col3" name="sudoku_field"></label></td>
                <td><label for="row8col4"><input type="text" id="row8col4" name="sudoku_field"></label></td>
                <td><label for="row8col5"><input type="text" id="row8col5" name="sudoku_field"></label></td>
                <td><label for="row8col6"><input type="text" id="row8col6" name="sudoku_field"></label></td>
                <td><label for="row8col7"><input type="text" id="row8col7" name="sudoku_field"></label></td>
                <td><label for="row8col8"><input type="text" id="row8col8" name="sudoku_field"></label></td>
                <td><label for="row8col9"><input type="text" id="row8col9" name="sudoku_field"></label></td>
            </tr>
            <tr>
                <td><label for="row9col1"><input type="text" id="row9col1" name="sudoku_field"></label></td>
                <td><label for="row9col2"><input type="text" id="row9col2" name="sudoku_field"></label></td>
                <td><label for="row9col3"><input type="text" id="row9col3" name="sudoku_field"></label></td>
                <td><label for="row9col4"><input type="text" id="row9col4" name="sudoku_field"></label></td>
                <td><label for="row9col5"><input type="text" id="row9col5" name="sudoku_field"></label></td>
                <td><label for="row9col6"><input type="text" id="row9col6" name="sudoku_field"></label></td>
                <td><label for="row9col7"><input type="text" id="row9col7" name="sudoku_field"></label></td>
                <td><label for="row9col8"><input type="text" id="row9col8" name="sudoku_field"></label></td>
                <td><label for="row9col9"><input type="text" id="row9col9" name="sudoku_field"></label></td>
            </tr>
            </tbody>
        </table><br><br>
        <button type="submit" name="solve">Solve</button>
        {% csrf_token %}
    </form>
</body>
</html>